html, body {
    height:auto !important;
}
html {
    font-size:14px;
    @media #{$medium-up} {
        font-size:16px;
    }
}
body {
    background-color:$background;
    background-image:url('../images/texture.svg');
    background-size:15%;

    @media #{$medium-up} {
        background-size:10%;
    }

     @media #{$large-up} {
        background-size:5%;
    }
}

a {
    font-style:italic;
}

svg {
    max-width: 100%;
    max-height:100%;
}