body {
    background-color:lighten($background, 20);
    background-image:url('../images/texture.svg');
    background-size:15%;

    @media #{$medium-up} {
        background-size:10%;
    }

     @media #{$large-up} {
        background-size:5%;
    }
}