.container {
    padding:0 1rem;
    margin:0 auto 2rem;
}


.homeblock {
    @include grid-column(
        $columns:12,
        $center:true
        );
    padding-top:2em;
    padding-bottom:2em;

    background:$beige;
    overflow: hidden;
}

.hometitle {
    text-align: center;
}


.homeproduct {
    @include grid-column(
        $columns:6
        );
    @media #{$medium-up} {
        @include grid-column(
        $columns:3
        );
    }
}

.updates__block {
    
    text-align: justify;
    hyphens: auto;

    @include grid-column(
        $columns:12,
        $collapse:true
        );

    @media #{$medium-up} {
        @include grid-column(
        $columns:6,
        $collapse:false
        );
    }

     @media #{$large-up} {
        @include grid-column(
        $columns:5,
        $collapse:false
        );
    }
}

.archive {
    margin-bottom: 1.5rem;
}

.archive:nth-child(even) {
    clear:both
}

.update--right {
   @media #{$large-up} {
     @include grid-column(
        $offset:1
        );
   }
}

.update--left {
    @media #{$medium-up} {
     @include grid-column(
        $float:right
        );
   }
}

.update--title {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    hyphens: none;
    // &:before, &:after {
    //     font-weight: 400;
    //     font-style: normal;
    //     content:" • ";
    //     padding: 0 rem-calc(10);
    // }
    &:before {
        font-family: 'salvatori';
        display: block;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        margin-bottom: 0.7rem;
        color:$turquese;
    }
}

.homenew__title {
    &:before {
        content: "\a4";
    }
}

.homeoffer__title {
    &:before {
        content:"\2022";
        color:$lightBrown;
    }
}


.update__inner {
    max-width: 24rem;
    overflow: hidden;
    &:after {
        font-family: 'salvatori';
        clear:both;
        display: block;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        content: "\2014";
        font-size:3rem;
        text-align: center;
    }

    @media #{$small-only} {
        float:none;
        margin:0 auto 2rem;
    }
}

.update__link {
    float:left;
}

// Chi siamo

.aboutblock {
    @include grid-column(
        $columns:12,
        $center:true
        );
    padding-top:2em;
    padding-bottom:2em;

    background:$beige;
    overflow: hidden;
}

.about__block {
    
    text-align: justify;
    hyphens: auto;

    @include grid-column(
        $columns:12,
        $collapse:true
        );

    @media #{$medium-up} {
        @include grid-column(
        $columns:8,
        $center:true,
        $collapse:true
        );
    }

     @media #{$large-up} {
        @include grid-column(
        $columns:6,
        $center:true,
        $collapse:true
        );
    }
}

// Contatti

.contactblock {
    @include grid-column(
        $columns:12,
        $center:true
        );
    padding-top:2em;
    padding-bottom:2em;

    background:$beige;
    overflow: hidden;
}

.contact__block {

    text-align: justify;
    hyphens: auto;

    @include grid-column(
        $columns:12,
        $collapse:true
        );

    @media #{$medium-up} {
        @include grid-column(
        $columns:8,
        $center:true,
        $collapse:true
        );
    }

     @media #{$large-up} {
        @include grid-column(
        $columns:6,
        $center:true,
        $collapse:true
        );
    }
}

// prodotti

.category__block {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 4rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -20px;
    text-align: center;
}

.gallery--item {
    background: none;
    flex: 1 0 200px;
    margin: 0 0 20px 20px;
    padding: 20px;
    text-align: left;
    border: 1px dotted;
    a {
        align-items: center;
        display: flex;
        margin-top: auto;
    }
}



.accessori--item {
    border-color: $lightGrey;
}

.skincare--item {
    border-color: $lightBrown;
}

.maquillage--item {
    border-color: $white;
}

.fragranze--item {
    border-color: $turquese;
}

.gallery__link {
    float: left;

}

.accessori__link {
    color: $lightGrey;
}

.skincare__link {
    color: $lightBrown;
}

.maquillage__link {
    color: $white;
}

.fragranze__link {
    color: $turquese;
}
