
.hero__inner {
    @include grid-column(
        $columns:12,
        $center:true
        );

    @media #{$medium-up} {
        @include grid-column(
            $columns:6,
            $center:true
        );
    }

    @media #{$large-up} {
        @include grid-column(
            $columns:4,
            $center:true
        );
    }
}

.hero__title {
    background: $white;
    margin: 0.5em 0 1em;
    padding: 2em;

    @media #{$medium-up} {
        padding:2rem;
    }
}

.homeproduct {
    text-align: center;
} 

.homeproduct__title {
    font-size:rem-calc(27);
    margin:0;
}

.homeproduct__img {
    width:60%;
}




.footer {
    @include grid-column(
        $columns:12,
        $collapse:true
        );
    background:#999;
}
.contacts {
     @include grid-column(
        $columns:12
        );
    text-align: center; 

    @media #{$medium-up} {
        @include grid-column(
        $columns:6,
        $collapse:false
        );
    text-align: left;    
    }
}

.homeinstagram__list {
    @include block-grid(
        $per-row:2,
        $spacing: 1px
        );
    @media #{$medium-up} {
        @include block-grid(
        $per-row:6,
        $spacing: 1px
        );
    }
}