


// Chi Siamo



.homeinstagram__list {
    @include block-grid(
        $per-row:2,
        $spacing: 1px
        );
    @media #{$medium-up} {
        @include block-grid(
        $per-row:6,
        $spacing: 1px
        );
    }
}