// refactoring
.bg {
    background: $beige;
}
.homenew__title {
    &:before {
        content: "\a4";
    }
}

.homeoffer__title {
    &:before {
        content:"\2022";
        color:$lightBrown;
    }
}

.page-numbers {
  @include pagination;
} 
