// refactoring
.bg {
    background: $beige;
}
.homenew__title {
    &:before {
        content: "\a4";
    }
}

.homeoffer__title {
    &:before {
        content:"\2022";
        color:$lightBrown;
    }
}
.accessori--item {
    border-color: $lightGrey;
}

.skincare--item {
    border-color: $lightBrown;
}

.maquillage--item {
    border-color: $white;
}

.fragranze--item {
    border-color: $turquese;
}

.gallery__link {
    float: left;

}

.accessori__link {
    color: $lightGrey;
}

.skincare__link {
    color: $lightBrown;
}

.maquillage__link {
    color: $white;
}

.fragranze__link {
    color: $turquese;
}