.footer {
    position:relative;
    overflow: hidden;
}
.contacts {
    color:$beige;
    position:relative;
    z-index: 10;
     @include grid-column(
        $columns:12
        );
    text-align: center; 

    @media #{$medium-up} {
        @include grid-column(
        $columns:6,
        $collapse:false
        );
        padding-top:2em;
        text-align: left; 
        background-image:linear-gradient(right, rgba(255,255,255,0),rgba(40,40,40,0) 0%, black 100%);   
    }
}
.contactblock {
    @include grid-column(
        $columns:12,
        $center:true
        );
    padding-top:2em;
    padding-bottom:2em;

    background:$beige;
    overflow: hidden;
}

.contact__block {

    text-align: justify;
    hyphens: auto;

    @include grid-column(
        $columns:12,
        $collapse:true
        );

    @media #{$medium-up} {
        @include grid-column(
        $columns:8,
        $center:true,
        $collapse:true
        );
    }

     @media #{$large-up} {
        @include grid-column(
        $columns:6,
        $center:true,
        $collapse:true
        );
    }
}

.contact__img {
    @media #{$medium-up} {
        @include position(absolute, top 0 right 0);
    }
}

.map {
    iframe {
        max-width: 100%;
        margin:0 auto;
        display: block;
    }
}

.social {
    @include block-grid(
        $per-row:2
        );
    max-width: 8rem;
    margin: 0 auto 1rem;

    @media #{$medium-up} {
      max-width: 5rem;
      margin: 0 1rem 1rem;  
    }
}

.social__link img {
    width:rem-calc(36);
}

.vcard {
    margin-bottom:0;
}