.entry {
    @include grid-column(
    $columns:12,
    $center:true
    );
    padding-top:2em;
    padding-bottom:2em;

    background:$beige;
    overflow: hidden;
    &:after {
        font-family: 'salvatori';
        clear: both;
        display: block;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        content: "\2014";
        font-size: 3rem;
        text-align: center;
    }
}

.entry__title {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    hyphens: none;
    margin-bottom: 1.5rem;
    &:before,
    &:after {
        content:"—";
        font-size: 2rem;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        padding:0 1rem;
        @media #{$medium-up} {
            font-size: 3rem;
        }
    }
}
.entry__title--single {
    &:before,
    &:after {
        content:"";
    }
}

.entry__content p {
    margin:0 auto 1rem;
    max-width: 25rem;
    text-align: justify;
    hyphens: auto;
}

.entry__content--single p {
   
}
.entry__content img {
    margin:0 auto 1rem;
    display:block;
    @media #{$medium-up} {
        max-width: 30rem;
    }
}