.entry {
    @include grid-column(
    $columns:12,
    $center:true
    );
    padding:2rem;

    background:$beige;
    overflow: hidden;
    &:after {
        font-family: 'salvatori';
        clear: both;
        display: block;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        content: "\2014";
        font-size: 3rem;
        text-align: center;
    }
    @media #{$medium-up} {
        padding:3rem;
    }
}

.entry--container {
    text-align:center;
    &:after {
        content:"";
    }
}
.entry__title {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    hyphens: none;
    max-width: 35rem;
    margin:0 auto 1.5rem;
    &:before,
    &:after {
        content:"—";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 100;
        line-height: 1;
        padding:0 1rem;
        @media #{$medium-up} {
            font-size: 3rem;
        }
    }
}
.entry__title--single {
    &:before,
    &:after {
        content:"";
    }
}

.entry__content p {
    margin:0 auto 1rem;
    max-width: 25rem;
    text-align: justify;
    hyphens: auto;
}

.entry__content--single p {
   
}
.entry__content img {
    margin:0 auto 1rem;
    max-width: 25rem;
    display:block;
}
.entry__map {
    @media #{$medium-up} {
        margin-top:rem-calc(24);
        @include grid-column(
                $columns:6,
                $float:right
            );
    }
}
.entry__content--contacts {
    @media #{$medium-up} {
        @include grid-column(
                $columns:6
            );
    }
}
