.homeblock {
    @include grid-column(
        $columns:12,
        $center:true
        );
    padding-top:2em;
    padding-bottom:2em;

    background:$beige;
    overflow: hidden;
}
.homeoffer__link {
    color:$lightBrown;
}