
.navigation {
    margin-bottom:2em;
    @media #{$large-up} {
        margin: 2.5em 0 3em;
    }
}

.navigation__list {
    margin-top:1em;
    list-style:none;
    text-align: center;
    @include grid-column(
        $columns:12,
        $center:true
    );
}

.navigation__item {
    display: inline-block;
    font-size: rem-calc(18);
    font-style:italic;
    margin:0 2%;
}


.navigation__link {
    color:$turquese;
    padding:1rem 1rem 0.1rem;
    border-bottom:1px solid $turquese;
    text-transform: lowercase;
    font-family: $body-font-family;
}