.entry--prodotti {
    ul, ol {
        columns: 2;
    }
    p {

    }
    strong {

    }
}

.prodotti {
    margin:0 0 2rem;
}

.prodotti__title {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    hyphens: none;
    margin-bottom: 1.5rem;
}